{% extends 'base.html'%}
{% load static %}

{% block title %}ゲストページ{% endblock %}

{% block content %}
<p>ようこそ {{request.user.first_name}}　さん</p>

<p>
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    人事部に人を紹介する
  </button>
</p>

<div class="collapse" id="collapseExample">
  <div class="card card-body">

    <form method="POST" action="">{% csrf_token %}
      {% for field in form %}
<p>
  {{field.label_tag}}{{field}}

</p>
      {% endfor %}
      <input type="submit" value="送信" />

    </form>

  </div>
</div>

{% endblock %}
