{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}メール送信画面{% endblock %}

{% block content %}

<div class="container">
  <button type="button" class="btn btn-secondary m-3" data-toggle="collapse" data-target="#collapseExample"
    aria-expanded="false" aria-controls="collapseExample">
    メール内容確認
  </button>

  <div class="collapse" id="collapseExample">
    <div class="card card-body my-1">
      いつも優秀な人材を紹介してくれてありがとうございます。これからも、我が社に入ってくれそうな人材をぜひともご紹介ください。 List of Excellent Young-man
      は、みなさんから人事部に紹介してもいいと思った人たちを登録いただくシステムです。もし人事部から連絡してもよい優秀な方がいらっしゃいましたら、ぜひご登録をお願いします。
    </div>
  </div>

  <form method="post" action="">{% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
    <div class="border border-right-0 border-left-0 mb-5">
      <h4>紹介者情報:</h4>
      {% bootstrap_form form %}
      <button type="submit" class="btn btn-success" >メール送信</button>
    </div>

    {% endfor %}
  </form>
</div>


{% endblock %}